#create input {
	display: block;
	border-radius: 5px;
	border: none;
	background-color: #fff;
	padding: 15px 20px;
	margin: 10px 30px;
	width: calc(100% - 100px);
}

#create .item i {
	width: 28px;
	height: 28px;
	display: block;
	background-size: contain;
	position: absolute;
	background-repeat: no-repeat;
	margin-left: 160px;
	margin-top: 159px;
}

#create .results {
	margin-left: 20px;
	margin-right: 15px;
}

#create div.item {
	width: 190px;
	float: left;
	margin: 10px;
	margin-bottom: 30px;
	background-color: #cccccc;
	border-radius: 3px;
	padding: 5px;
	height: 190px;
	overflow: hidden;
	font-size: 10.5pt;
	background-image: url(i/item-bg2.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#create dl {
	margin: 0px;
	padding: 10px;
}

#create dd {
	margin-left: 0px;
	padding-left: 0px;
}

#create div.item a.out {
	background-image: url(i/out.png);
	background-repeat: no-repeat;
	display: block;
	float: right;
	height: 18px;
	width: 18px;
	opacity: 0.01;
	transition: opacity 100ms;
}

#create div.item:hover a.out {
	opacity: 1;
}

#create div.item.science-machine {
	background-color: #98aa82;
}

#create div.item.alchemy-engine {
	background-color: #e9c9a3;
}

#create div.item.prestihatitator {
	background-color: #dd738e;		
}

#create div.item.shadow-manipulator {
	background-color: #6a6a6a;
}

#create div.item.maxwell {
	background-color: #b37690;
}
#create div.item.rock-den {
	background-color: #e4dbbc;
}
#create div.item.gobbler-shrine, #create div.item.year-of-the-gobbler {
	background-color: #b19668;
}
#create div.item.varg-shrine, #create div.item.year-of-the-varg {
	background-color: #a07951;
}

#create div.item.winters-feast {
	background-color: #92d8ff;
}
#create div.item.hallowed-nights {
	background-color: #ffc57f;
}

#create div.item.blueprint {
	background-color: #8887ad;
}
#create div.item.broken-ancient-pseudoscience-station {
	background-color: #a57942;
}
#create div.item.ancient-pseudoscience-station {
	background-color: #886132;
}
#create div.item.potters-wheel {
	background-color: #fff3ef;
}

#create div.item.cartographers-desk {
	background-color: #fde6d0;
}
#create div.item.wickerbottom {
	background-color: #ccbe68;
}

#create div.item.mad-scientist-lab{
	background-color: #e4fdda;
}
#create div.item.pig-shrine{
	background-color: #f5e1e4;
}
#create div.item.portable-seasoning-station {
	background-color: #e2d8c9;
}
#create div.item.celestial-altar {
	background-color: #e7fbfd;
}
#create div.item.celestial-orb {
	background-color: #e7fbfd;
}
#create div.item.think-tank {
	background-color: #afa18d;
}

#create dd.requires {
	font-style: italic;
	font-size: 8pt;
	margin-bottom: 10px;
	text-transform: lowercase;
}

#create dd.notes {
	font-style: italic;
	font-size: 8pt;
	padding-top: 8px;
}

#create dt {
	font-weight: bold;
	text-transform: capitalize;
}

#create .Tools i {
	background-image: url(i/cats/tools.png);
}

#create .Light i {
	background-image: url(i/cats/light.png);
}

#create .Dress i {
	background-image: url(i/cats/dress.png);
}

#create .Fight i {
	background-image: url(i/cats/fight.png);
}

#create .Food i {
	background-image: url(i/cats/food.png);
}

#create .Magic i {
	background-image: url(i/cats/magic.png);
}

#create .Refine i {
	background-image: url(i/cats/refine.png);
}

#create .Science i {
	background-image: url(i/cats/science.png);
}
#create .Mad.Science i {
	background-image: url(i/cats/madscience.png);
}

#create .Structures i {
	background-image: url(i/cats/structures.png);
}

#create .Survival i {
	background-image: url(i/cats/survival.png);
}

#create .Critters i {
	background-image: url(i/cats/critters.png);
}

#create .Cartography i {
	background-image: url(i/cats/cartography.png);
}

#create .Sculptures i {
	background-image: url(i/cats/sculpt.png);
}

#create .Ancient i {
	background-image: url(i/cats/ancient.png);
}

#create .CUSTOM_BOOKS i {
	background-image: url(i/cats/books.png);
}

#create .CUSTOM_SHADOW i {
	background-image: url(i/cats/shadow.png);
}


#create .Offerings i {
	background-image: url(i/cats/offerings.png);
}

#create .Seasonings i {
	background-image: url(i/cats/seasonings.png);
}

#create .Celestial i {
	background-image: url(i/cats/celestial.png);
}

#create .Seafaring i {
	background-image: url(i/cats/seafaring.png);
}

#create .CUSTOM_NATURE i {
	background-image: url(i/cats/greenthumb.png);
}

#create .CUSTOM_ENGINEERING i {
	background-image: url(i/cats/engineering.png);
}


#create .item > .inner {
	height: 220px;
	width: 190px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: bottom 5px center;
}

#create .item .ingredient {
	background-repeat: no-repeat;
	width: 30px;
	height:30px;
	display: inline-block;
	background-size: contain;
	margin-top: -7px;
	margin-left: -36px;
	position: absolute;
}

#create .item dd.component {
	margin-bottom: 8px;
	padding-left: 36px;
}

@media all and (max-width: 875px) {
	#create .results {
		margin-left: 5px;
		margin-right: 0px;
	}
	
	
	#create div.item {
		width: 180px;
		margin: 5px;
		
		margin-bottom: 30px;
		padding: 5px;
		height: 180px;
		font-size: 10.5pt;
	}
	#create .item > .inner {
		height: 210px;
		width: 180px;
	}

}


