
#gather label {
	display: block;
	margin-bottom: 20px;
}
#gather textarea {
	width: 150px;
	padding: 25px;
	border: none;
	background-color: #fff;
	border-radius: 5px;
	line-height: 14pt;
	min-height: 350px;
	width: 100%;
	display: block;
	min-height: 120px;
	box-sizing: border-box;
}

#gather {
	padding: 20px 30px;
	min-width: 420px;
}

#gather .arrows {
	display: none;
	width: 25px;
	min-height: 370px;
	margin-top: 50px;
	background-image: url(i/arrows.png);
	background-repeat: no-repeat;
	position: absolute;
	z-index: 2;
	margin-left: 198px;
}

#gather .results {
	width: 150px;
	padding: 0px;
	border: none;
	margin-top: 10px;
	margin-left: 0px;
	margin-bottom: 40px;
	width: auto;
}

#gather .instructions {
	max-width: 300px;
	line-height: 13pt;
	margin-left: 20px;
	margin-top: 22px;
	font-size: 9.5pt;
}

#gather .instructions h3 {
	font-weight: 400;
	font-size: 12pt;
}

#gather .errors {
	position: absolute;
	margin-left: 215px;
	margin-top: -1px;
	width: 520px;
	width: calc(100% - 275px);
	height: 23px;
	overflow: hidden;
}

#gather .errors p {
	margin: 0px;
	margin-bottom: 2px;
	background-color: #c30000;
	color: #fff;
	padding: 4px 7px;
	font-size: 9pt;
	border-radius: 3px;
}

#gather .results ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#gather .results li {
	margin-bottom: 10px;
	display: inline-block;
	margin-right: 10px;
	padding: 10px;
	padding-left: 45px;
	padding-top: 15px;
	border-radius: 3px;
	min-width: 150px;
	background-color: #c7cad2;
}


.textcomplete-dropdown {
	border-collapse: collapse;
}

.textcomplete-dropdown li {
	border: 1px solid #ddd;
	padding: 5px;
	display: block;
	margin: 0px;
	transition: background 0.5s;
	min-width: 100px;
	background-color: white;
}

.textcomplete-dropdown li:first-child {
	border-top: none;
}

.textcomplete-dropdown li:hover,
.textcomplete-dropdown .active {
	background-color: #666;
	color: #fff;
}

.textcomplete-dropdown {
	list-style: none;
	padding: 0;
	margin: 0;
}

.textcomplete-dropdown a:hover {
	cursor: pointer;
}

#gather i {
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left: -40px;
	position: absolute;
	margin-top: -12px;
}


@media all and (max-width: 877px) {
	#gather .instructions {
		margin-left: 0px;
		border-top: solid 1px #ddd;
		max-width: 415px;
		float: none;
		clear: both;
	}
	
	#gather .errors {
		display: block;
		position: relative;
		margin: 0px;
		height: auto;
		margin-top: 0px;
		clear: both;
		float: none;
		width: 100%;
		margin-bottom: 15px;
	}
}