html, body {
	padding: 0px;
	margin: 0px;
	background-color: #e9e8e6;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	color: #555;
	font-size: 10pt;
}

input, textarea {
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: #555555;
	height: 123px;
	background-image: url(i/header-bg.png);
	background-repeat: repeat-x;
	background-position: bottom right;
	min-width: 397px;
}

header a.logo {
	background-image: url(i/dst-logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 113px;
	padding-left: 220px;
	height: 0px;
	width: 0px;
	overflow: hidden;
	display: inline-block;
	float: left;
}

header nav {
	display: inline-block;
	float: left;
	margin-top: 40px;
}

header nav a {
	font-weight: 400;
	display: inline-block;
	font-size: 12.5pt;
	color: #ccc;
	border-bottom: solid 1px #555555;
	padding: 10px 0px;
	margin: 0px 20px;
	text-decoration: none;
	transition: border 1s, color 1s;
}

header nav a:hover, header nav a.active {
	color: #fff;
	border-bottom: solid 1px #fff;
}

header img {
	float: right;
	margin-top: 3px;
}

body.loading {
	background-image: url(i/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}


#page .module {
	display: none;
}


a.help {
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(i/help.png);
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	border-radius: 40px;
	position: absolute;
	margin-top: -45px;
	right: 160px;
	box-shadow:3px 3px 5px rgba(0,0,0, 0);
}


.helpoverlay {
	position:fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwATGjGhixkD+WWRBsABIEUwQLgATRBEACQIAr8MEOZtA/yIAAAAASUVORK5CYII=);
	background-color: rgba(255,255,255,.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
	display: none;
}

.helpoverlay.open {
	display: flex;
}

.helpmodal {
	max-width: 700px;
	min-width: 150px;
	background-color: #e9e8e6;
	border-radius: 3px;
	overflow: hidden;
	box-shadow:3px 3px 5px rgba(0,0,0, .4);
	font-size: 1.1em;
	line-height: 1.5em;
	margin-left: 20px;
	margin-right: 20px;
}

.helpmodal .title {
	background-color: #555555;
	color: #e9e8e6;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

.helpmodal .title a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	margin-right: 10px;
}

.helpmodal .content {
	padding: 20px;
	padding-top: 10px;
	overflow-y: auto;
	max-height: 90vh;
}

.helpmodal .content li {
	margin-bottom: 8px;
}


div.help {
	display: none;
}

.helpmodal .content a {
	color: #7123bb;
	text-decoration: none;
}

.helpmodal .content a:hover {
	color: #C68E39;
	text-decoration: none;
}



.poweredby {
	position: absolute;
	right: 9px;
	top: 9px;
}

.poweredby a {
	height: 25px;
	width: 40px;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	opacity: .7;
	transition: opacity ease .5s;
}

.poweredby a:hover {
	opacity: 1;
}

.poweredby a.ae {
	background-image: url(i/ae.png);
}
.poweredby a.logipar {
	background-image: url(i/logipar.png);
}

@media all and (max-width: 875px) {
	header img {
		display: none;
	}
	
	a.help {
		right: 40px;
	}
	.poweredby {
		right: 5px;
	}

}

@media all and (max-width: 705px) {
	header {
		height: 158px;
	}
	
	header nav {
		float: none;
		display: block;
		margin-top: 0px;
		text-align: center;
	}
	
	header a.logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		float: none;
		padding-top: 80px;
	}
	
	header nav a {
		margin: 0px 10px;
	}
	
	a.help {
		top: 54px;
		left: 20px;
		background-color: #e9e8e6;
	}
}