<link rel="stylesheet" href="gather.css" />
<div class="errors"></div>
<form>
	<label><input type="checkbox" name="recurse">I'm building from scratch</label>
	<textarea name="items" data-focus="1" placeholder="1 pickaxe, 3 crock pot, 2 backpack, 4 straw roll"></textarea>
</form>	
<div class="arrows"></div>
<div class="results"></div>
<div class="help">
	<p>Type in the items you want, separated by commas, preceeded by the number you would like.  The results list will be updated automatically to list all the items you need.</p>

	<p>If you check <strong>I'm building from scratch</strong>, it'll recurse through the recipes to display all the materials required.</p>
</div>