<link rel="stylesheet" href="gather.css" />
<div class="errors"></div>
<form>
	<label><input type="checkbox" name="recurse">I'm building from scratch</label>
	<textarea name="items" data-focus="1" placeholder="1 pickaxe
3 crock pot
2 backpack
4 straw roll"></textarea>
</form>	
<div class="arrows"></div>
<div class="results"></div>
<div class="instructions">
	<h3>Instructions</h3>
	<p>Type in the items you want, one per line, preceeded by the number you would like.  The results list will be updated automatically to list all the items you need.</p>

	<p>If <strong>I'm building from scratch</strong> is checked, it'll recurse through the recipes to only display the base ingredients required.</p>

	<p>Hopefully this works.  I haven't tested it much.</p>
</div>